
@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}
@model List<string>

@helper List(List<string> vs)
{
    <ul>
        @foreach (var b in vs)
        {
            <li>@b</li>
        }
    </ul>
}

@List(Model)
